<div class="courses">
  <div class="container">
    <div class="row courses_row">
      <% @teachers.each do |t| %>
        <div class="col-lg-4 course_col ">
          <a href="/teachers/<%= t.id %>">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <div class="course_image"><%= image_tag(t.picture.image) if t.picture.image.attached? %></div>
              <div class="course_body">
                <h3 class="course_title"><%= t.name %></h3>
                <div class="course_teacher"><%= t.phone_number %></div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
