<footer class="footer">
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-3 footer_col">

								<div class="footer_section footer_about">
									<div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">Smart School</div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Home school for yor children</p>
									</div>
									<div class="footer_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>

							</div>

							<div class="col-lg-3 footer_col">

								<div class="footer_section footer_contact">
									<div class="footer_title">Contact Us</div>
									<div class="footer_contact_info">
										<ul>
											<li>Email: haiderimuzamil@gmail.com</li>
											<li>Phone:  03214167551</li>
											<li>Chak No. 94/TDA Karor Lal Eason Layyah Punjab Pakistan </li>
										</ul>
									</div>
								</div>

							</div>

							<div class="col-lg-3 footer_col">

								<div class="footer_section footer_links">
									<div class="footer_title">Contact Us</div>
									<div class="footer_links_container">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="about.html">About</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="#">Features</a></li>
											<li><a href="courses.html">Courses</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Gallery</a></li>
											<li><a href="#">FAQs</a></li>
										</ul>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text">
Copyright &copy; 2022 | Smart School <i class="fa fa-heart-o" aria-hidden="true"></i> by SS | All rights reserved </div>
						<div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li>Copyright notification</li>
								<li>Terms of Use</li>
								<li>Privacy Policy</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
